
<ion-content>
  <div class="wrapper">
    <div class="container">
      <img class="picture" src="assets/imgs/cgd-01.jpg" alt="slide-3" />
      <br>
      <div class="content">
        <h1>Lorem ipsum.</h1>
        <p>Sed mollis lectus ut magna ullamcorper varius tincidunt sit amet felis. Sed tincidunt viverra ullamcorper. Pellentesque ullamcorper nisi non consequat semper. Praesent nec enim nisi. In cursus blandit massa, at rhoncus sapien tincidunt non.</p>
        <ion-button shape="round" size="large" (click)="gotoLanding()">X</ion-button>
      </div>
    </div>
  </div>
</ion-content>
